@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');


h1, h5, p, label, button, footer {
    font-family: 'Poppins', sans-serif !important;
}

h5 {
    font-weight: 200;
    font-size: 17px;
}

input {
    --bs-border-width: 2px;
    --bs-border-color: #eee;
    --bs-border-radius: 10px;
}

.btn-link-button:focus {
    outline: none;
    border: none;
}

.btn-link-button:active {
    outline: none;
    border: none;
}

.btn-link-button {
    outline: none;
    border: none;
}

li {
    margin-bottom: 10px;
}